* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgba(255, 127, 80, 0.3); */
    background-color: snow;
    font-size: 1rem;
    --dark-theme: #344955;
    --light-dark-theme: #4a6572;
    --honeydew-theme: honeydew;
}

.title {
    font-size: 1.1rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-theme);
    color: var(--honeydew-theme);
    position: fixed;
    width: 100%;
    top: 0;
}


.lang-bar {
    margin: auto 0;
}

.lang-label {
    padding: 0.4em 0.7em;
    font-size: 0.9em;
    margin: auto 0.2em;
    border-radius: 5px;
    background-color: var(--honeydew-theme);
    color: var(--dark-theme);
}

h1 {
    text-align: right;
    font-size: 2.5em;
}


.lang-bar input[type="radio"]:checked + .lang-label {
    background-color: rgb(233, 94, 94);
    color: var(--honeydew-theme);
}

.russian:not(.except) {
    display: none;
}

hr {
    margin: 2em auto 3em;
    border-top: 0.1em solid rgba(171, 183, 183, 1);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] {
    display: none;
}

.tabs > label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    color: lightslategrey;
    border-radius: 7px;
}

.tabs .tab-content {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1em;
    
}

.flex-block {
    display: flex;
    flex-flow: row wrap;
}

.tabs input[type="radio"]:checked + label + .tab-content {
    display: block;
}

.tabs input[type="radio"]:checked + .tab-label {
    color: var(--dark-theme);
    background-color: var(--honeydew-theme);
}

.mainField {
    width: 50vw;
    height: auto;
    margin: 9rem auto 0 auto;
    border-radius: 5px;
    padding: 2rem 3rem;
    background-color: gainsboro;
    box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.5);
}

label, select {
    cursor: pointer;
}

.param {
    width: 24em;
    display: inline-block;
    margin-bottom: 20px;
}

.param-left {
    display: inline-block;
    width: 9em;
    text-align: right;
}

.param-right {
    margin-left: 0.5em;
}

#loan-period-value,
#loan-period-type {
    width: 6em;
}

.input-form {
    width: 13em;
    padding: 0.5em;
    height: auto;
    border-radius: 4px;
    border: 1px solid cornflowerblue;
    font-size: 0.9em;
    outline: none;
}

.input-form:focus {
    box-shadow: 0 0 0.2em var(--dark-theme);
    background-color: lightyellow;
}

option {
    font-size: 1em;
}

.tab-content button {
    width: 100%;
    font-size: 1rem;
    color: white;
    outline: none;
    background-color: var(--light-dark-theme);
    margin: 2.5em auto;
    display: block;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 0 0 0.2em var(--light-dark-theme);
    cursor: pointer;
}

.tab-content button:hover {
    background-color: var(--dark-theme);
    
}

.tab-content button:active {
    transform: scale(0.99);
    
}

.dep-output,
.loan-output {
    display: inline-block;
    width: 70%;
    text-align: right;
}

.dep-total > div,
.loan-total > div {
    display: inline-block;
}

.dep-total > .pull-left,
.loan-total > .pull-left {
    width: 30%;
    margin-left: 1rem;
}

.dep-total,
.loan-total {
    margin: 0 auto 0.7em;
    
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: ivory;
    table-layout: auto;
    text-align: right;
    font-size: 0.9rem;
    margin: 2rem auto 0;
}

#loan-payments-table {
    display: block;
    margin: auto;
}

th, td {
    padding: 0.6rem 1rem 0.6rem 1.5rem;
    border: 1px solid gainsboro;
}

tr:first-child {
    text-align: center;
    font-size: 1.2em;
    color: ghostwhite;   
    background-color: firebrick;
    border-bottom: 3px solid gainsboro;
}

tr:last-child {
    background-color: lemonchiffon;
    font-weight: 600;
    border-top: 2px solid var(--light-dark-theme);
}

#loan-rate-effective-field {
    display: none;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 0.9rem;
    }

    .title {
        width: 100vw;
        padding: 2vw;
        font-size: 2vw;
    }
    
    h1 {
        font-size: 3.5vw;
    }

    .mainField {
        width: 90%;
        margin: 15vw auto 0;
        padding: 2rem;
    }

    .tabs > label {
        padding: 1rem 2rem;
        border-radius: 4px;
        font-size: 1.1rem;
    }

    .param {
        margin-bottom: 3vmin;
    }

    .dep-output,
    .loan-output {
        width: 60vw;
        font-size: 1.5vw;
    }

    .tab-content button {
        margin: 1.5em auto;
    }

    table {
        font-size: 1.5vw;
    }

    th, td {
        padding: 1vw 1vw 1vw 2vw;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.7rem;
    }

    .mainField {
        width: 95%;
        margin: 15vw auto 0;
        padding: 1rem;
    }

    .tabs > label {
        padding: .5rem 1rem;
        border-radius: 4px;
        font-size: 2.5vw;
    }

    .param {
        margin-bottom: 3vmin;
    }

    .dep-output,
    .loan-output {
        width: 70vw;
        font-size: 2vw;
    }

    .tab-content button {
        margin: 1em auto;
        font-size: 0.8rem;
    }

    table {
        font-size: 1.5vw;
    }

    th, td {
        padding: 1vw 1vw 1vw 2vw;
    }
}

